@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --primary-color: #00eeff;
  --secondary-color: #9c4d4d;
}
body {
  background: #ffbcbc;
  margin: 1em;
  font-family: "Poppins";
  font-style: italic;
}
.navbar {
  background: #ff8282;
  .logo {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 2.2em;
    font-style: normal;
    span {
      color: var(--primary-color);
    }
  }
  nav {
    display: none;
  }
  .container {
    display: flex;
    place-content: space-between;
    .mobile-menu {
      height: 50px;
      width: 50px;
      object-fit: cover;
      cursor: pointer;
      &:hover {
        background-color: var(--secondary-color);
      }
    }
    #mobile-exit {
      height: 50px;
      width: 50px;
      object-fit: cover;
      margin-left: 6em;
    }
  }
}
a {
  color: #444444;
  text-decoration: none;
}
ul {
  list-style-type: none;
  background: white 20px;
  background-blend-mode: #e27777;
  border-radius: 20px;
  border: 5px solid var(--primary-color);

  .link {
    color: aliceblue;
    font-weight: bold;
    font-style: normal;
    background: var(--secondary-color);
    text-decoration: none;
    border-radius: 5em;
    border-width: 5em;
    margin-top: 2em;
    display: inline-block;
    padding-bottom: 1em;
    padding: 1em 1em 1em 1em;
    margin-bottom: 0.3em;
    border: 5px solid black;
  }
  .s {
    cursor: pointer;
    height: 250px;
    width: 90%;
    object-fit: cover;
    border-radius: 1em 1em 1em 1em;
    //come back to this
    display: block;
    border: black 1px;
    margin: 0em;
  }
}

.hero {
  text-align: center;
}
.left-col {
  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    letter-spacing: 0.3em;
  }
  h1 {
    font-size: 2.5em;
    line-height: 1.3;
    margin-top: 0.2em;
  }
}

.features-section {
  display: inline-block;
  border-radius: 1em;
}
.scroller {
  overflow: s;
  scroll-behavior: auto;
  .social {
    border-radius: 5em;
    height: 800px;
    width: 450px;
  }
}

.testimonials-section {
  text-align: center;
  font-weight: bold;
  border: 5px solid var(--primary-color);
  border-radius: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: var(--secondary-color);
  height: 50em;
  column-count: 3;
  list-style: none;
  column-width: 5em;

  .slider {
    height: 90px;
    width: 70px;
    object-fit: cover;
    border-radius: 1em;
    content: "";
    display: table;
    clear: both;
    margin-top: 2em;
  }
}

/* Clear floats after the columns */
div {
  .primary-cta {
    float: left;
    width: 50%;
    font-weight: bold;
    padding-bottom: 15em;
  }
}

/* Clear floats after the columns */
.hero-cta:after {
  content: "";
  display: table;
  clear: both;
  font-size: 10px;
}

h2 {
  font-size: 2em;
}
label {
  display: block;
  font-size: 1em;
  margin-bottom: 0.5em;
  margin-right: 2em;
}

input,
textarea {
  width: 100%;
  padding: -8em;
  margin-bottom: 1em;
  margin-right: 2em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}
input [type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}
iframe {
  width: 100%;
  height: 300px;
}
nav.menu-btn {
  display: block;
}
nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: var(--secondary-color);
  height: 100vh;
  padding: 1em;

  ul.primary-nav {
    margin-top: 5em;
  }
  li {
    a {
      color: rgb(0, 0, 0);
      font-weight: bold;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.4em;
      text-align: right;
      &:hover {
        font-size: 1.8em;
        font-weight: bold;
      }
    }
  }
}
.mobile-menu-exit {
  float: right;
  margin: -0.5em;
  cursor: pointer;
}
@media only screen and (min-width: 921px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    ul {
      display: flex;
    }
    a {
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: 1em;
      padding: 0.1em 1em;
      &:hover {
        font-size: 1.19em;
        color: var(--secondary-color);
      }
    }
    ul.primary-nav {
      margin: 0;
    }
    li.current a {
      font-weight: bold;
    }
    li.go-premium-cta a {
      color: var(--primary-color);
      border: 3px var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -0.2em;

      &:hover {
        background: var(--primary-color);
        color: white;
        font-size: 1.5em;
      }
    }
  }
  .s {
    display: flex;
    flex-wrap: wrap;
  }
}
